/* Estilos para la página de inicio */

.contenedor_presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentacion {
    text-align: center;
    margin-top: 20px; /* Espacio superior para separar del contenido anterior */
}


.btn:hover {
    background-color: #0a76e9;
}



/* Estilos para las tarjetas animadas */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #eeeeea;
}

.tarjeta {
    display: flex;
    justify-content: space-around; /* Distribuye el espacio horizontalmente */
    align-items: center;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan cuando no haya suficiente espacio */
}


.pan {
    max-width: 200vh;
    width: 100vh; ;
    max-height: 100vh;
    height: 60vh; /* Por ejemplo, establecer la altura al 50% del alto de la pantalla */
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    position: absolute;
    
}
.block{
    width: 100%; /* Ancho del bloque en porcentaje */
    max-width: 800px; /* Ancho máximo del bloque */
    margin: 2vw auto 5vw; /* Margen superior e inferior en función del ancho de la ventana */
    position: absolute;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px; /* Ancho máximo del bloque */
    background-color: #ffffff; /* Color de fondo del bloque */
    padding: 20px; /* Espaciado interno del bloque */
    border-radius: 10px; /* Borde redondeado del bloque */
    z-index: 0; /* Asegura que el bloque esté detrás del banner */
}
.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    height: 80px;
    width: 400px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #b0b0ba;
    padding-top: 5px;
}


.description h4 {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('/static/img/lol.png');
    
}
.card[for="c2"] {
    background-image: url('/static/img/no_lo_se.png');
}
.card[for="c3"] {
    background-image: url('/static/img/mama.png');
}
.card[for="c4"] {
    background-image: url('/static/img/lolololo.png');
}
/* Estilos generales para dispositivos de todos los tamaños */

/* Estilos específicos para dispositivos más pequeños, como tablets y móviles */
@media screen and (max-width: 768px) {
    /* Aquí van los estilos específicos para dispositivos más pequeños */
}

/* Estilos específicos para dispositivos aún más pequeños, como móviles en modo retrato */
@media screen and (max-width: 480px) {
    /* Aquí van los estilos específicos para dispositivos más pequeños */
}
/* Estilos específicos para dispositivos más pequeños */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Cambia la dirección del flujo a vertical */
        align-items: flex-start; /* Alinea los elementos a la izquierda */
    }

    .navbar-nav {
        margin-top: 10px; /* Espacio superior */
    }

    .navbar-nav .nav-item {
        margin: 5px 0; /* Espaciado entre elementos */
    }
}