<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Contactos</title>
    <link rel="stylesheet" href="/web/css/contacto.css">
    
    
</head>
<body>
    
    <div class="top-bar">
    <p>    </p>
     &nbsp;&nbsp;&nbsp; <button id="btnRegresar"><h>Regresar</h></button>
    <p>  </p>
    </div>

    <script>
        
        document.getElementById("btnRegresar").onclick = function() {
            window.location.href = "arte.html";
        };
    </script>
    <div class="container">
        <h1>Lista de Contactos</h1> 

        <div class="center">
            <img src="/web/img/GROUNDZEROLOGO.png" class="img" alt="..." style="max-width: 90%;">    
        </div>
        
        <h3> Para más información te invitamos a contactarnos y/o buscar más detalles en: </h3>

        
        <div class="container2">
            <ul>
                <li>
                    <div class="contact-info">
                        <img src="/web/img/igimage.png" alt="Imagen de contacto" style="max-width: 100px;">
                        <div>
                            <strong>Perfil:</strong> 
                            <a href="https://www.instagram.com/kevinelbueno/"> Ground.Zero.Official</a>

                        </div>
                    </div>
                </li>
                <li>
                    <div class="contact-info">
                        <img src="/web/img/correo.png" alt="Imagen de contacto" style="max-width: 100px;">
                        <div>
                            <strong>Email:</strong> 
                            <a href="mailto:direccion@dominio.com">GroundZeroReal@gmail.com</a>

                        </div>
                    </div>
                </li>
                <li>
                    <div class="contact-info">
                        <img src="/web/img/telefonoreal.png" alt="Imagen de contacto" style="max-width: 100px;">
                        <div>
                            <strong>Teléfono:</strong> 
                            <a href="tel:+56934383039">+56 9 1235 2134</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="contact-info">
                        <img src="/web/img/facebook_logo_icon_181322.png "alt="Imagen de contacto" style="max-width: 100px;">
                        <div>
                            <strong> Facebook:</strong> 
                            <a href="https://www.facebook.com/nombre_de_pagina">GroundZeroReal</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
