<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de la Obra de Arte - Ground Zero</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
</head>
<body>

  <!-- Contenido de detalles.html -->
  <div id="menu-container"></div>
  <script src="/web/js/menu.js"></script>
  
  

  <div class="container mt-5">

    <div class="row">
      <div class="col-md-6">
        <img src="/web/img/intel.png" class="img-fluid" alt="Obra de Arte">
      </div>
      <div class="col-md-6">
        <h2 calass="nombre">Travesía del Alma</h2>
        <p class="text-muted">Artista: kevin el pintor</p>
        <p class="text-muted">Técnica: Óleo</p>
        <p>"Tristeza Pintoresca": En un pueblo donde las casas son coloridas como arcoíris, sus habitantes 
          llevan consigo una carga de melancolía que contrasta con la alegría de sus fachadas, revelando así un contraste entre la apariencia externa y la realidad interna.</p>
          <span class="total">$3000000</span>
          <button type="button" class="btn btn-primary agregar-carrito">Agregar al Carrito</button>


      </div>
    </div>

    <div class="row mt-5">
      <div class="col">
        <h3>Detalles</h3>
        <ul>
          <li>Dimensiones: 30 cm x 42 cm</li>
          <li>Año de Creación: 2001</li>
          <li>Estado: Nuevo</li>
        </ul>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col">
        <h3>Obras Relacionadas</h3>
        <div class="card-deck">
          <div class="card">
            <img src="/web/img/lolololo.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="Nombre">Lago de los Susurros</h5>
              <p class="card-text">Breve descripción de la obra.</p>
              <a href="compra.html" class="btn btn-primary">Ver más</a>
            </div>
          </div>
          <div class="card">
            <img src="/web/img/no_lo_se.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Reflejos de Ausencia</h5>
              <p class="card-text">Breve descripción de la obra.</p>
              <a href="compra.html" class="btn btn-primary">Ver más</a>
            </div>
          </div>
          <div class="card">
            <img src="/web/img/tulo.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Puente los lamentos  </h5>
              <p class="card-text">Breve descripción de la obra</p>
              <a href="compra.html" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/web/js/agregarAlCarrito.js"></script>
  <script src="/web/js/carrito.js"></script>

</body>
</html>
