<!-- /menu.html -->
<link rel="stylesheet" href="/web/css/menu.css" />
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
crossorigin="anonymous"
referrerpolicy="no-referrer"
/>
<nav>
    <div class="wrapper">
        <div class="logo">
          <a class="navbar-brand" href="">Ground Zero
            <img src="/web/img/GROUNDZEROLOGO.png" alt="Logo de Ground Zero" >
          </a>
        </div>
        <input type="radio" name="slide" id="menu_btn" />
        <input type="radio" name="slide" id="cancel_btn" />
        <ul class="nav_links">
            <label for="cancel_btn" class="btn cancel_btn">
                <i class="fas fa-times"></i>
            </label>
            <li><a href="/web/html/home.html">inicio</a></li>
            <li><a href="/web/html/compra.html">catalogo</a></li>
            <li>
                <a href="#" class="desktop_item">contactos</a>
                <input type="checkbox" id="showDrop" />
                <label for="showDrop" class="mobile_item">contactos</label>
                <ul class="drop_menu">
                    <li><a href="/web/html/ubicacionnegocio.html">¿donde esta nuestra galeria?</a></li>
                    <li><a href="/web/html/contactospage.html">redessociales </a></li>
                    <li><a href="/web/html/contactos.html">contactar</a></li>
                    
                </ul>
            </li>
            <li>
                <a href="#" class="desktop_item">GROUNDZEROLOGO</a>
                <input type="checkbox" id="showMega" />
                <label for="showMega" class="mobile_item">GROUNDZEROLOGO</label>
                <div class="mega_box">
                    <div class="content">
                        <div class="row img_row">
                            <div class="services_img"></div>
                        </div>
                        <div class="row">
                            <header>Artistas calificado</header>
                            <ul class="mega_links first_links">
                                <li><a href="#">Graphics</a></li>
                                <li><a href="#">Web Design</a></li>
                                <li><a href="#">Architecture</a></li>
                                <li><a href="#">Ui / Ux</a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <header>Obras de arte</header>
                            <ul class="mega_links">
                                <li><a href="#">Graphics</a></li>
                                <li><a href="#">Web Design</a></li>
                                <li><a href="#">Architecture</a></li>
                                <li><a href="#">Ui / Ux</a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <header> Estilos arte </header>
                            <ul class="mega_links">
                                <li><a href="#">Graphics</a></li>
                                <li><a href="#">Web Design</a></li>
                                <li><a href="#">Architecture</a></li>
                                <li><a href="#">Ui / Ux</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li><a href="/web/html/carrrito.html">Carrito <span id="cantidad-carrito" class="badge badge-light">0</span></a> </a></li>
        </ul>
        <label for="menu_btn" class="btn menu_btn">
            <i class="fas fa-bars"></i>
        </label>
    </div>
</nav>
<script src="/web/js/carrito.js"></script>