{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ground Zero - Galería de Arte</title>
    <link rel="stylesheet" href="{% static 'styles/comprar.css' %}">


</head>

<body>
    
  <div id="menu-container"></div>
  <script src="{% static 'js/menu.js' %}"></script>
    

   
<!-- Sección de productos -->
<section class="productos">
    <div class="card d-card">
        <img src="{% static 'img/lolololo.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <span class="total">$3000000</span>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
            <a href="/web/html/detalles.html" class="btn btn-primary">cotizar</a>
            <a href="" class="btn btn-bol">agregar</a>
        </div>
    </div>
     <!-- Se repite la misma estructura para cada producto -->
    <div class="card d-card">
       <img src="{% static 'img/tulo.png'%}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <span class="total">$3000000</span>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         
          <a href="#" class="btn btn-primary">cotizar</a>
          <a href="#" class= "btn btn-bol">agregar</a>
      </div>
    </div>
     <!-- Se repite la misma estructura para cada producto -->
    <div class="card d-card">
    <img src="{% static 'img/lolololo.png'%}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <span class="total">$3000000</span>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
          <a href="#" class="btn btn-primary">cotizar</a>
          <a href="#" class="btn btn-bol">agregar</a>
      </div>
    </div>
     <!-- Se repite la misma estructura para cada producto -->
    <div class="card d-card">
      <img src="/web/img/tulo.png" class="card-img-top" alt="...">
      <div class="card-body">
        
        <h5 class="card-title">Card title</h5>
        <span class="total">$3000000</span>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
          <a href="#" class="btn btn-primary">cotizar</a>
          <a href="#" class="btn btn-bol">agregar</a>
      </div>
    </div>
     <!-- Se repite la misma estructura para cada producto -->
    <div class="card d-card">
      <img src="/web/img/lolololo.png" class="card-img-top" alt="...">
      <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <span class="total">$3000000</span>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
        <a href="#" class="btn btn-primary">cotizar</a>
        <a href="#" class="btn btn-bol">agregar</a>
        
     </div>
    </div>
    <!-- Se repite la misma estructura para cada producto -->
    <div class="card d-card">
      <img src="/web/img/lolololo.png" class="card-img-top" alt="...">
      <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <span class="total">$3000000</span>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
        <a href="#" class="btn btn-primary">cotizar</a>

        <a href="#" class="btn btn-bol">agregar</a>
     </div>
     
    </div>
    <div class="card d-card">
      <img src="/web/img/lolololo.png" class="card-img-top" alt="...">
      <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <span class="total">$3000000</span>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
        <a href="#" class="btn btn-primary">cotizar</a>

        <a href="#" class="btn btn-bol">agregar</a>
     </div>
     
    </div>
    <div class="card d-card">
      <img src="/web/img/lolololo.png" class="card-img-top" alt="...">
      <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <span class="total">$3000000</span>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
        <a href="#" class="btn btn-primary">cotizar</a>

        <a href="#" class="btn btn-bol">agregar</a>
     </div>
     
    </div>
    <div class="card d-card">
      <img src="/web/img/lolololo.png" class="card-img-top" alt="...">
      <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <span class="total">$3000000</span>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
        <a href="#" class="btn btn-primary">cotizar</a>

        <a href="#" class="btn btn-bol">agregar</a>
     </div>
     
    </div>
</div>
</section>

<!-- Enlaces a los scripts de JavaScript y jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{% static 'js/agregarAlCarrito.js' %}"></script>
</body>
</html>
